<div class="row login">
    <h3>Login</h3>
    <div class="login-form">
      <div class="select-control">
          <select class="select" [(ngModel)]="user">
              <option value="">Select User</option>
              <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
            </select>   
      </div>
      <div class="select-control">
          <select class="select" [(ngModel)]="location">
            <option value="">Select Location</option>
            <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
          </select>
      </div>               
      <div class="select-control">
          <button class="login-btn" type="button" (click)="login()">Submit</button>
      </div>    
    </div>
</div>