
.login-btn{
	background-color: #960311;
	color: white;
	width: 300px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #960311;
	height: 30px;
}

.label{
	display: initial;
	font-size: small;
	color: gray;
    font-weight: bold;
}

.login{
	width: 50%;
	margin: 0 auto;
	border: 1px solid gray;
	padding: 10px;
	color: gray;
}

h3{
	text-align: center;
	color: gray;
}

.login-form{
	width: 80%;
	margin: 0 auto;
}

.select-control{
	text-align: center;
	width: 100%;
}

.select{
	background: #fff;
	border: 1px solid #e0e0e0;
	height: 30px;
	width: 300px;
	margin: 5px;
}
