<div class="row login">
    <h3>Users</h3>
    <div>
            <p class="back"><a routerLink="/dashboard">Back to dashboard</a> &emsp;
                <a  routerLink="/location" style="float:right;">Location</a></p>
    </div>
    <div class="login-form">
        <div class="user-form-tile">
            <input type="text" class="select user-input" [(ngModel)]="user" placeholder="User Name" />

        </div>
        <div class="user-form-tile">
            <button type="submit" class="login-btn user-btn" (click)="addUser()">Add User</button>
        </div>
    </div>

    <div class="login-form">
        <input type="text" class="select search-input" [(ngModel)]="search" placeholder="Search User">
    </div>

    <div class="user-table-div">
        <table class="user-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let user of users | filter:search">
                <td>-</td>
                <td>{{user.name}}</td>
                <td style="text-align:center;"><a href="javascript:void(0);" (click)="deleteUser(user._id)"><img src="assets/img/Delete.png" /></a></td>
            </tr>
        </table>
    </div>
</div>