<div class="row">
        <h1>Location</h1>
        <form >
            <div>
                <div style="width:25%;float: left;padding-top:10px;">
               <label for="locationName" class="label">Enter Location Name*</label> 
               </div>
               <div style="width:50%;float: left;padding-top:10px;">
               <input type="text" class="form-control" id="manufacture" aria-describedby="manufacture" placeholder="Location Name" />
                </div>
            </div>
            <div>
                <div style="width:25%;float: left;padding-top:30px;">
                <label for="locationAddress" class="label">Enter Location Address</label>
                </div>
                <div style="width:50%;float: left;padding-top:10px;">
                <textarea class="form-control" id="details" rows="3" placeholder="Location Address"></textarea>
                  </div>
              </div>
            <div style="text-align: center;clear:both">
                <div class="addCancel" >
                <button type="submit" class="btn" >Add</button>
                </div>
                <div class="addCancel" style="margin-left:0%">
                <button type="submit" class="btn" >cancel</button>
                </div>
            </div>
        </form>
    </div>