td{
	background-color: #FFFFFF;
	color:#000000;
}

img{
	width:20px;
	height:20px;
}

.location-header{
	text-align: center;
	color:white;
	margin:10px;
	width:95%;
	background-color: #960311;
}
.location{
	text-align: center;
    color: gray;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px;
    width: 65%;
	height: 30px;
	background: white;
}
.location-tile-1{
	float: left;
	width: 80%;
}
.location-tile-2{
	float: left;
	width: 20%;
}
