<div class="row login">
    <h3>Welcome {{username}}</h3>
    <div>
            <p class="back"><a routerLink="/login">Back to Login</a> &emsp;
            <a  routerLink="/user" style="float:right;">User</a >&emsp;&emsp;&emsp;&emsp;
            <a  routerLink="/location" style="float:right;padding-right: 20px;">Location</a></p>
    </div>
    <p class="back"></p>
    <div class="select-control">
      <input class="select" id="search" [(ngModel)]="search" placeholder="Search">
     </div>

     <div class="location" *ngFor="let location of userLocations | filter:search:'location'">
        <div class="location-tile-1">{{location.location_id.name}}</div>
        <div class="location-tile-2">
            <a (click)="removeLoginLocation(location._id)"><img src="assets/img/Delete.png" /></a>
        </div>
     </div>
  </div>