<div class="row login">
    <h3>Dashboard</h3>
    <div class="select-control">
      <select class="select">
          <option value="">Select Location</option>
          <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
      </select>
     </div>

     <div class="location">
        <div class="location-tile-1">Viper</div>
        <div class="location-tile-2">
            <img src="assets/img/Delete.png" />
        </div>
     </div>
     <div class="location">
        <div class="location-tile-1">Dino</div>
        <div class="location-tile-2">
            <img src="assets/img/Delete.png" />
        </div>
     </div>
  </div>